---
import { siteConfig } from '@/config/site';
---

<section class="hero">
  <div class="hero__background">
    <div class="hero__background-shape hero__background-shape--1"></div>
    <div class="hero__background-shape hero__background-shape--2"></div>
  </div>
  
  <div class="hero__container">
    <div class="hero__content">
      <div class="hero__text">
        <div class="hero__logo-wrapper">
          <img
            src="/images/logo.jpeg"
            alt="All Day Treats Logo"
            class="hero__logo"
          />
        </div>
        
        <h1 class="hero__title">{siteConfig.name}</h1>
        <p class="hero__location">{siteConfig.location}</p>
        
        <p class="hero__tagline">
          Handcrafted candy-coated fruits, chocolate-covered treats, and party
          platters made with love!
        </p>
        
        <div class="hero__badges">
          <span class="hero__badge">Made Fresh to Order</span>
          <span class="hero__badge">Handcrafted with Love</span>
        </div>
      </div>
      
      <div class="hero__images">
        <div class="hero__image-grid">
          <div class="hero__image-item hero__image-item--1">
            <img
              src="/images/chocolate-strawberries-new.jpg"
              alt="Chocolate covered strawberries"
              class="hero__image"
            />
          </div>
          <div class="hero__image-item hero__image-item--2">
            <img
              src="/images/candy-strawberries.jpg"
              alt="Candy coated strawberries"
              class="hero__image"
            />
          </div>
          <div class="hero__image-item hero__image-item--3">
            <img
              src="/images/party-platter.jpg"
              alt="Party platter"
              class="hero__image"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
