* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	view-transition-name: none;
}

body {
	font-family: var(--font-family-base);
	background-color: var(--color-bg-dark);
	color: var(--color-text-light);
	line-height: var(--line-height-base);
	view-transition-name: none;
}
